[user]
	name = ashutosh tripathy
	email = tripathyas@vmware.com
[diff]
	tool = nvim
[difftool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE
	prompt = true
[alias]
	d = difftool
    s = status
    b = branch
    l = log --pretty=oneline -n 20 --graph --abbrev-commit

